body{
    background-color: rgb(255, 217, 0);
}
.csc{
display: block;
position: absolute;
top: -120px;
left: 300px;
    font-family: "komet", sans-serif;
font-weight: 500;
font-style: italic;
font-size: 100px;
color: rgb(255, 0, 0)
}
.p{
    position: absolute;
    top: 200px;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.p2{
    position: absolute;
    top: 400px;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.btn{
    display: inline-block;
    margin-bottom: 0%;
    position: absolute;
    bottom:0%;
    right:0%;
}