body{
    background-color: rgb(0, 0, 0); margin: 0;
    color:white;
    padding: 0;
    text-align: center;
    user-select: none;
    cursor: none;
}
body, html{
    cursor: url(./collection/photos/cursor/reversecursor.png), auto;
}

.filter-options {
    margin-bottom: 20px;
}

.filter-options button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#uno-images-container {
    position: relative;
}
.unohead{
    font-size: 4rem;
    text-align: center;
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.pick{
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5vw;
}

.uno-image {
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}
.imgstyle{
    margin: 9vh;
    display: inline-flex;
    gap: 2vh;
    width: 12vh;
    transition: transform 0.5s ease;
    transform: skewY(20deg);;
}
.imgstyle:hover {
    transform: rotateY(180deg);
}
.imggay{
    width: 20vh;
}
.home{
    margin-top: 0%;
    position: absolute;
    right: 0%;
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-content {
    padding: 20px;
    color: white;
}
.welcome{
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.para{
    font-family: "futura-pt", sans-serif;
font-weight: 300;
font-style: italic;
}
.toggle-button {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    writing-mode: vertical-rl; /* Vertical writing mode */
    text-orientation: upright; /* Text orientation */
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px 10px; /* Adjust padding as needed */
    z-index: 9999; /* Ensure button is on top of other elements */
}

.toggle-button:hover {
    color: #007bff;
}