body{
    background-color: rgb(0, 0, 0);
    align-items: center;
    user-select: none;
    cursor: none;
}
body, html{
    cursor: url(./collection/photos/cursor/reversecursor.png), auto;
}
img{
    width: 26vw;
    height: 30vw;
    transition: transform 0.5s ease;
}
.container{
    display: inline-flex;
    position: absolute;
    top: 8rem;
    left: 11rem;
}
img:hover {
    transform: rotateY(180deg);
}
@media screen and (max-width: 849px){
.container{
    display: inline-flex;
    position: absolute;
    top: 14rem;
    left: 4rem;
}
}
