body{
    background-color: black;
    cursor: pointer; 
    animation: changeBackgroundColor 5s infinite;
}
@keyframes changeBackgroundColor {
    0% { background-color: rgb(255, 78, 78); } 
    25% { background-color: blue; } 
    50% { background-color: green; } 
    75% { background-color: yellow; } 
    100% { background-color: rgb(255, 78, 78); } 
}

.onPunc{
    color: #ffffff;
    display: block;
    margin: 3em;
    position: absolute;
    top: -12vw;
    left: -12vw;
    font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 5vw;
}
.onPunc2{
    color: #ffffff;
    display: block;
    margin: 3em;
    position: relative;
    top: 6vw;
    left: -12vw;
    font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 5vw;
}
.box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:rgb(255, 145, 1);
    position: absolute;
    top: 40vw;
    left: 30vw;
    font-size: 25rem;
}
.box:hover{
    background-color: white;

}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.box2{
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
font-size: 15rem;
color: red;
position: absolute;
top: 28vw;
left: 8vw;

}
.box2:hover{
    color: white;

}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.box3{
    font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 15rem;
color: rgb(0, 85, 255);
position: absolute;
top: 4vw;
left: 22vw;
}
.box3:hover{
    color: white;
}
.box4{
    font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
    font-size: 15rem;
    color: rgb(174, 0, 255);
    position: absolute;
    top: 10vw;
    left: 73vh;
}
.box4:hover{
    color: white;
}
.box5{
    font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
    font-size: 20rem;
    color:rgb(0, 245, 111);
    position: absolute;
    top: 21vw;
    left: 45vw;
}
.box5:hover{
    color: white;
}
.box6{
    font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
    font-size: 15rem;
    color:bisque;
    position: absolute;
    top: 5vw;
    left: 57vw;
}
.box6:hover{
    color: white;
}
.box7{
    font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
    font-size: 15rem;
    color: rgb(255, 217, 0);
    position: absolute;
    top: -2vw;
    left: 70vw;
}
.box7:hover{
    color: white;
}
.box8{
    font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;
    font-size: 15rem;
    color:rgb(238, 0, 255);
    position: absolute;
    top: 20vw;
    left: 75vw;
}
.box8:hover{
    color: white;
}
@media screen and (max-width:430px){
    .onPunc{
        color: #ffffff;
        font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10vw;
    }
    #on{
        position: absolute;
        top: 10vw;
        left: 28vw;
    }
    .onPunc2{
        color: #ffffff;
        display: block;
        margin: 3em;
        position: relative;
        top: 50vw;
        left: -16vw;
        font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5vw;
    }
    .box {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color:rgb(255, 145, 1);
        position: absolute;
        top: 47vw;
        left: 2vw;
    }
    .box2{
        font-family: "dazzle-unicase", sans-serif;
        font-weight: 500;
        font-style: normal;
    font-size: 17rem;
    color: red;
    position: absolute;
    top: 65vw;
    left: 4vw;
    }
    .box3{
        font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13rem;
    color: rgb(0, 85, 255);
    position: absolute;
    top: -15vw;
    left: 5vw;
    }
    .box4{
        font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
        font-size: 13rem;
        color: rgb(174, 0, 255);
        position: absolute;
        top: 3vw;
        left: 10vh;
    }
    .box5{
        font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
        font-size: 17rem;
        color:rgb(0, 245, 111);
        position: absolute;
        top: 35vw;
        left: 35vw;
    }
    .box6{
        font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
        font-size: 15rem;
        color:bisque;
        position: absolute;
        top: -10vw;
        left: 65vw;
    }
    .box7{
        font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
        font-size: 12rem;
        color: rgb(255, 217, 0);
        position: absolute;
        top: 90vw;
        left: 50vw;
    }
    .box8{
        font-family: "dazzle-unicase", sans-serif;
    font-weight: 500;
    font-style: normal;
        font-size: 20rem;
        color:rgb(238, 0, 255);
        position: absolute;
        top: 64vw;
        left: 25vw;
    }
}
