body{
    background-color: rgb(238, 0, 255);
}
.com{
    display: block;
    position: absolute;
    top: 80px;
    left: 140px;
    font-family: "area-normal", sans-serif;
font-weight: 600;
font-size: 100px;
font-style: italic;
}
.p{
    position: absolute;
    top: 120px;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.btn{
    display: inline-block;
    margin-bottom: 0%;
    position: absolute;
    bottom:0%;
    right:0%;
}