body{
    background-color:rgb(255, 145, 1)
}
.peri{
    display:block;
    position: absolute;
    top: 80px;
    left: 270px;
    font-family: "josefin-sans", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 100px;
}
.p{
    position: absolute;
    top: 260px;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.p2{
    position: relative;
    top: 370px;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal; 
}
.btn{
    display: inline-block;
    margin-bottom: 0%;
    position: absolute;
    bottom:0%;
    right:0%;
}